body {
    background: #555;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

button {
    margin: 10px;
}

.align-center {
    text-align: center;
}

.title {
    font-weight: bold;
    padding: 0 0 20px 0;
}