<div class="content align-center">

    <div *ngIf="this.newList.length > 3">

        <div class="title">Find Holiday Recommendations</div>

        <div *ngIf="this.questionNumber == 1">
            <div>Is your budget £20 - £50 or £50 - £270?</div>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([19, 20, 0, 5, 16, 7, 11, 18, 4, 8, 15], 'budget'); incrementQuestion(); choseCheap();">£0
                -
                £55</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([9, 13, 12, 3, 6, 2, 17, 1, 10, 14], 'budget'); incrementQuestion(); choseExpensive();">£56
                -
                £300</button>
        </div>

        <div *ngIf="this.questionNumber == 2">
            <div>What type of location are you looking for?</div>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 2, 3, 4, 5, 7, 8, 9, 11, 13, 15, 16, 19, 20], 'terrain'); incrementQuestion(); choseCity();">City</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 17, 18], 'terrain'); incrementQuestion(); choseMountain();">Mountain</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 3, 6, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20], 'terrain'); incrementQuestion(); choseSea();">Sea</button>
        </div>

        <div *ngIf="this.questionNumber == 3">
            <div>What temperature are you looking for?</div>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], 'temp'); incrementQuestion(); choseCold();">Cold</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([3, 4, 8, 15, 19, 20], 'temp'); incrementQuestion(); choseMild();">Mild</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20], 'temp'); incrementQuestion(); choseHot();">Hot</button>
        </div>

        <div *ngIf="this.questionNumber == 4">
            <div>Would you like an active or lazy holiday?</div>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 2, 6, 7, 8, 9, 10, 11, 13, 16, 18, 19, 20], 'activelazy'); incrementQuestion(); choseLazy();">Lazy</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([1, 3, 4, 5, 12, 14, 15, 17], 'activelazy'); incrementQuestion(); choseActive();">Active</button>
        </div>

        <div *ngIf="this.questionNumber == 5">
            <div>Which continent would you like to travel to?</div>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 3, 4, 5, 7, 8, 9, 10, 13, 15, 16, 17, 18, 19, 20], 'continent'); incrementQuestion(); choseEurope();">Europe</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20], 'continent'); incrementQuestion(); choseNorthAmerica();">North
                America</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'continent'); incrementQuestion(); choseAfrica();">Africa</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 'continent'); incrementQuestion(); choseArctic();">Arctic</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20], 'continent'); incrementQuestion(); choseAntartica();">Antartica</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 16, 17, 19, 20], 'continent'); incrementQuestion(); choseAsia();">Asia</button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="removeSelected([0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20], 'continent'); incrementQuestion(); choseAustralia();">Australia</button>
        </div>

    </div>

    <div *ngIf="this.questionNumber == 6 || this.newList.length <= 3">
        <div class="title">Our Holiday Recommendations For You</div>
        <li *ngFor="let holidayRecommendation of newList">
            <span>{{holidayRecommendation.name}}</span>
        </li>
        <div *ngIf="this.newList.length == 0">No holiday recommendations found, please try again</div>
        <button type="button" class="btn btn-primary btn-sm" (click)="reloadPage()">Try again</button>
    </div>

    <div>Your holiday specification based on chat:</div>

    <div *ngIf="cheap === true">£0 - £55</div>
    <div *ngIf="expensive === true">£56 - £300</div>
    <div *ngIf="city === true">City</div>
    <div *ngIf="mountain === true">Mountain</div>
    <div *ngIf="sea === true">Sea</div>
    <div *ngIf="cold === true">Cold</div>
    <div *ngIf="mild === true">Mild</div>
    <div *ngIf="hot === true">Hot</div>
    <div *ngIf="lazy === true">Lazy</div>
    <div *ngIf="active === true">Active</div>
    <div *ngIf="europe === true">Europe</div>
    <div *ngIf="northAmerica === true">North America</div>
    <div *ngIf="africa === true">Africa</div>
    <div *ngIf="arctic === true">Arctic</div>
    <div *ngIf="antartica === true">Antartica</div>
    <div *ngIf="asia === true">Asia</div>
    <div *ngIf="australia === true">Australia</div>

</div>