<div>Holiday Recommendations</div>

<div>Is your budget £20 - £50 or £50 - £270?</div>
<button>£20 - £50</button><button (click)="removeSelected([3, 4, 5, 8, 12, 15, 19])">£50 - £270</button>

<div>What type of location are you looking for?</div>
<button (click)="removeSelected([11])">City</button><button>Mountain</button><button>Sea</button>

<div>What temperature are you looking for?</div>
<button>Cold</button><button>Mild</button><button>Hot</button>

<div>Would you like an active or lazy holiday?</div>
<button>Lazy</button><button>Active</button>

<div>Which continent would you like to travel to?</div>
<button>Europe</button><button>North America</button><button>Africa</button><button>Asia</button><button>Australia</button>

<div>Check Recommendations</div>
<li *ngFor="let holidayRecommendation of holidayRecommendations">
    <span>{{holidayRecommendation.name}}</span>
</li>
